{% extends 'store/base.html' %}
{% block title %}Контакты и обратная связь{% endblock %}

{% block content %}
<div class="contact-page">
    <h1>Контакты</h1>
    <div class="contact-info">
        <p><strong>Центральный офис:</strong> г. Москва д.1</p>
        <p><strong>Телефон:</strong> +7 (000) 123-45-67</p>
        <p><strong>Email:</strong>   70213161@online.muiv.ru</p>
    </div>

    <h2>Написать нам</h2>
    <form method="post" class="contact-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Отправить сообщение</button>
    </form>
</div>
{% endblock %}